.b-citem{
    color: #B4B4B4;
    padding: 0 0 em(8) em(65);
    position: relative;
    background-image: none;
    &:before{
        content:"";
        display: block;
        width: 30px;
        height: 30px;
        border: 5px solid #232323;
        background-color: #424242;
        position: absolute;
        top: 7px;
        left: 2px;
        border-radius: 50%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    &__title{
        $font-size: 30;
        font-size: em($font-size);
        font-weight: 300;
        display: block;
    }
    p{
        $font-size: 16;
        font-size: em($font-size);
        line-height: 1.9;
    }
    a{
        color: inherit;
    }
}