.b-numders{
    color: #B4B4B4;
    counter-reset: point;
    li{
        list-style: none;
        padding: em(21) 0 em(32) em(32);
        position: relative;
        z-index: 10;
        &:before{
            content: counter(point);
            counter-increment: point 1;
            display: block;
            color: #232323;
            font-size: 100px;
            font-weight: 700;
            text-transform: uppercase;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            line-height: 1;
        }
    }
    &__title{
        $font-size: 30;
        font-size: em($font-size);
        font-weight: 300;

    }
    p{
        $font-size: 16;
        font-size: em($font-size);
    }
}