.b-videos{
    background: url(../images/b-video_bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    padding: em(160) 0 0;
    &__item{
        padding: em(10);
        width: 640px;
        margin: 0 auto;
        background: url(../images/b-program__bg.jpg) no-repeat center center;
        margin-bottom: 2px;
        border-radius: 5px;
    }
    &__carusel{
        background-color: #2d2d2d;
        padding: em(20) 0 em(15);
    }
    &__citem{
        display: block;
        color: #D7D7D7;
        text-decoration: none;
        img{
            display: block;
            width: 100%;
            margin-bottom: em(5);
        }
        .title{
            display: block;
            font-size: em(13);
            font-weight: 600;
        }
    }
    &__channel{
        $font-size: 17;
        font-size: em($font-size);
        padding-bottom: em(10);
        a{
            color: #fff;
            text-decoration: none;
            vertical-align: middle;
        }
        img{
            display: inline-block;
            vertical-align: middle;
            margin-right: rem(8);
        }
    }
}